extends layout
block content
    main
        .row.justify-content-center
            .col-lg-12.container3.text-white
                .container.p-2
                h2.text-center Transaction Receipt
                h3 Transaction Status: Successful 
                h3 Full Name: #{payment.full_name} 
                h3 Amount Paid: #{payment.amount/100}
                h3 Transaction Id: #{payment._id} 
                h2.text-center Thanks for your patronage