body{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-image:   linear-gradient(45deg, rgba(255,0,0,0), rgb(96, 149, 213));
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav{
    background: rgb(4, 20, 142);
}

main{
    width: 60%;
    margin:  auto;
    margin-top: 10vh;
}

.container3{
    background: rgb(4, 20, 142);
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.container4{
    border-bottom: solid 2px rgb(119, 116, 116);
}

form{
    padding: 5px;
}

form input{
    height: 45px;
    width: 100%;
    padding: 5px 15px;
    font-family: 'Times New Roman', Times, serif;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
}

select {
    width: 100%;
    padding: 5px 15px;
    color: gray;
    height: 45px;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}


.btn {
    padding-left: 30%;
    
    
}

button, .a-btn{
    justify-items: center;
    background-image:   linear-gradient(45deg, rgba(255,0,0,0), rgb(96, 149, 213));
    width: 100%;
    margin-top: 30px;
    padding: 10px;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.9s;
}

.a-btn{
    padding: 10px 20px;
    text-decoration: none;
}

button:hover, .a-btn:hover {
    background: rgb(4, 20, 142);
    color: #fff;
    text-decoration: none;
}
